@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Quattrocento&display=swap");

body {
    width: 100%;
    margin: 0;
    background: 
        url("../images/background.jpg")
        center top / auto 1000px
        no-repeat;
    font-family: Quattrocento, sans-serif;
}

h1 {
    font-family: Oswlad, sans-serif;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

#logo {
    color: white;
    text-align: center;
    margin-top: 150px;
}

#home-buttom {
    position: fixed;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    top: 50%;
    width: 100px;
    height: 100px;
    border: 2px solid #747474;;
    border-radius: 50%;
    font-size: 3em;
  }
  
#home-buttom i{
    color: #747474;
  }

.menu-item {
    min-height: 80px;
    margin: 20px;
}



.rounded-icon {
    background-color: #747474;
    position: absolute;
    width: 80px !important;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(43, 43, 43);
}

.rounded-icon > i {
    color: white;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    line-height: 75px;
}


.menu-title {
    background-color: white;
}

.menu-title p {
    line-height: 75px;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    padding-left: 65px;
    text-decoration: none;
    color: black;
}


