@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Quattrocento&display=swap");

body {
    width: 100%;
    margin: 0;
    background: 
        url("../images/background.jpg")
        center top / auto 1000px
        no-repeat;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
}

#logo {
    color: white;
    font-family: Oswlad, sans-serif;
    text-align: center;
    margin-top: 60px;
}